# Russian Synodal Bible (1885)

## Import

### Libraries

In [77]:
#import os
#from lxml import etree
from backend import *
import matplotlib
import string

In [2]:
segmenter = Segmenter()
morph_vocab = MorphVocab()
emb = NewsEmbedding()
morph_tagger = NewsMorphTagger(emb)
syntax_parser = NewsSyntaxParser(emb)
ner_tagger = NewsNERTagger(emb)
names_extractor = NamesExtractor(morph_vocab)

### Definitions

In [2]:
bibleTXT = './texts/bible/sinodalnyi-perevod.txt' 
booksJSON = './texts/bible/booksDict.json'
bibleJSON = './texts/bible/bible.json'
bibleIdJSON = './texts/bible/bibleID.json'
bibleXML = './texts/bible/bible.xml'
bibFrazyTXT = './texts/bible/Dubrovina_Slovar_Bibleyskikh_Frazeologizmov.txt'

bibleOHCO = ['test', 'book', 'chap', 'verse']
tokenCols = ['p_id', 'start', 'stop', 'text', 'token_id', 'head_id', 'rel', 'pos', 'lemma', 'anim', 'aspect', 'case', 'degree', 'gender', 'mood', 'number', 'person', 'tense', 'verb_form', 'voice']

chap_lines_re = '^===\s(\d{1,3})\s===$'
book_lines_re = '^==\s(.+)\s==$'
matt_name = 'От Матфея святое благовествование'

In [145]:
with open(booksJSON) as json_file: 
    booksDict = json.load(json_file)

## Pre-Processing

### Import Text into DF

In [135]:
with open(bibleTXT, 'r', encoding='windows-1251') as f: 
    bibleText = f.readlines()

bibliiaDf = pd.DataFrame(bibleText).rename(columns={0:'text'}).dropna()
bibliiaDf

                                                    text
0                                                     \n
1                                          == Бытие ==\n
2                                                     \n
3                                            === 1 ===\n
4                                                     \n
...                                                  ...
41374  17 И Дух и невеста говорят: прииди! И слышавши...
41375  18 И я также свидетельствую всякому слышащему ...
41376  19 и если кто отнимет что от слов книги пророч...
41377  20 Свидетельствующий сие говорит: ей, гряду ск...
41378  21 Благодать Господа нашего Иисуса Христа со в...

[41379 rows x 1 columns]

### Tidy Up

In [136]:
# remove blank lines and select puncutation, keeping only header & clean text lines
bibliiaDf.loc[:,'text'] = bibliiaDf.loc[:,'text'].str.replace(r'\n', '')
bibliiaDf.loc[:,'text'] = bibliiaDf.loc[:,'text'].str.replace('\]|\[|_|-|', '')
bibliiaDf = bibliiaDf.loc[bibliiaDf.text != '']
bibliiaDf

/tmp/ipykernel_242246/881465790.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  bibliiaDf.loc[:,'text'] = bibliiaDf.loc[:,'text'].str.replace(r'\n', '')
/tmp/ipykernel_242246/881465790.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  bibliiaDf.loc[:,'text'] = bibliiaDf.loc[:,'text'].str.replace('\]|\[|_|-|', '')

                                                    text
1                                            == Бытие ==
3                                              === 1 ===
5                  1 В начале сотворил Бог небо и землю.
6      2 Земля же была безвидна и пуста, и тьма над б...
7            3 И сказал Бог: да будет свет. И стал свет.
...                                                  ...
41374  17 И Дух и невеста говорят: прииди! И слышавши...
41375  18 И я также свидетельствую всякому слышащему ...
41376  19 и если кто отнимет что от слов книги пророч...
41377  20 Свидетельствующий сие говорит: ей, гряду ск...
41378  21 Благодать Господа нашего Иисуса Христа со в...

[38548 rows x 1 columns]

### Find Parts

In [141]:
# find df rows containing all the book and chapter title lines 
# as well as the OT/NT split on the 1st page of Matthew
chap_lines = bibliiaDf.loc[bibliiaDf.text.str.contains(chap_lines_re)].index
book_lines = bibliiaDf.loc[bibliiaDf.text.str.contains(book_lines_re)].index
test_line = bibliiaDf.loc[bibliiaDf.text.str.contains(matt_name)].index

# combine the title lines for extraction later
title_lines = test_line.append([chap_lines, book_lines]).sort_values()
title_lines

/tmp/ipykernel_242246/3255205770.py:3: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  chap_lines = bibliiaDf.loc[bibliiaDf.text.str.contains(chap_lines_re)].index
/tmp/ipykernel_242246/3255205770.py:4: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  book_lines = bibliiaDf.loc[bibliiaDf.text.str.contains(book_lines_re)].index

Int64Index([30299], dtype='int64', name='v_id')

### Assign OHCO Labels

In [142]:
# ['test']
bibliiaDf[bibleOHCO[0]] = np.where(bibliiaDf.index<test_line[0], 'O', 'N')
# ['book']
bibliiaDf[bibleOHCO[1]] = bibliiaDf.loc[book_lines].text.str.extract(book_lines_re)
# ['chap']
bibliiaDf[bibleOHCO[2]] = bibliiaDf.loc[chap_lines].text.str.extract(chap_lines_re)
# ['verse'] by splitting verse num at beginning from text in current verse lines
bibliiaDf[[bibleOHCO[3],'text']] = bibliiaDf.text.str.split(' ', 1, expand=True).iloc[:, [0, 1]]
# fill in book and chapter titles to cells below them
bibliiaDf[bibleOHCO[1:3]] = bibliiaDf[['book','chap']].ffill()
# drop title lines and reset index to give verse id num 
bibliiaDf = bibliiaDf.drop(title_lines, axis=0).reset_index()#.set_index(bibleOHCO)
bibliiaDf.index = range(1,len(bibliiaDf)+1)
bibliiaDf.index.name = 'v_id'
# reorder columns
bibliiaDf = bibliiaDf[['test', 'book', 'chap', 'verse', 'text']]
bibliiaDf

,test,book,chap,verse,text
v_id,,,,,
1,O,NaN,NaN,Бытие,==
2,O,NaN,NaN,1,===
3,O,NaN,NaN,В,начале сотворил Бог небо и землю.
4,O,NaN,NaN,Земля,"же была безвидна и пуста, и тьма над бездною, ..."
5,O,NaN,NaN,И,сказал Бог: да будет свет. И стал свет.
...,...,...,...,...,...
38543,N,NaN,NaN,И,Дух и невеста говорят: прииди! И слышавший да ...
38544,N,NaN,NaN,И,я также свидетельствую всякому слышащему слова...
38545,N,NaN,NaN,и,если кто отнимет что от слов книги пророчества...
38546,N,NaN,NaN,Свидетельствующий,"сие говорит: ей, гряду скоро! Аминь. Ей, гряди..."
38547,N,NaN,NaN,Благодать,Господа нашего Иисуса Христа со всеми вами. Ам...

### Swap Full Book Name for Abbreviation

In [143]:
book_nums = [(x+1,y) for x,y in enumerate(bibliiaDf.book.unique())]

In [ ]:
bibliiaDf.book = [booksDict[str(x)]['eng_abbr'] for x,y in book_nums for name in bibliiaDf.book if y == name]
bibliiaDf.sample(10)

### Export to JSON

bibliiaDf.to_json(bibleJSON, orient='index')

## Processing

bibliiaDf = pd.read_json(bibleJSON, orient='index')
bibliiaDf.index.name = 'v_id'
#BibTextDf = bibliiaDf[['text']]
#BibLibDf = bibliiaDf[bibleOHCO]
bibliiaDf

### OHCO DFs

#testsDict = dict(enumerate(bibliiaDf.test.unique()))
testsDict = dict([(value, key) for key, value in dict(enumerate(bibliiaDf.test.unique())).items()])
booksDict = dict([(value, key) for key, value in dict(enumerate(bibliiaDf.book.unique())).items()])

#### Testaments

TestsDf = pd.DataFrame([(x, ' '.join(y)) for (x,y) in bibliiaDf.groupby(bibleOHCO[:1]).text], columns=['test', 'text']).set_index(np.arange(1,len(bibliiaDf.test.unique())+1))
TestsDf.index.name = 't_id'
#TestsDf

bibliiaDf['t_id'] = bibliiaDf.test.map(testsDict)

#### Books

BooksDf = pd.DataFrame([(x, ' '.join(y)) for (x,y) in bibliiaDf.groupby(bibleOHCO[:2]).text], columns=[('test', 'book'), 'text'])
BooksDf[['test','book']] = pd.DataFrame(list(BooksDf[('test', 'book')]), index=BooksDf.index, columns=bibleOHCO[:2])
del BooksDf[('test', 'book')]
BooksDf = BooksDf.replace({"test": testsDict, "book": booksDict}).sort_values(by=bibleOHCO[:2], ascending=[True, True])
BooksDf = BooksDf.reset_index().drop(['index'], axis=1).set_index(np.arange(1,len(bibliiaDf.book.unique())+1))
BooksDf.index.name = 'b_id'
BooksDf = BooksDf.replace({"test":dict(enumerate(bibliiaDf.test.unique())), "book":dict(enumerate(bibliiaDf.book.unique()))})
#BooksDf = BooksDf.reset_index().set_index(bibleOHCO[:2])
#BooksDf

bibliiaDf['b_id'] = bibliiaDf.book.map(BooksDf.reset_index().set_index('book')['b_id'])

#### Chapters

ChapsDf = pd.DataFrame([(x, ' '.join(y)) for (x,y) in bibliiaDf.groupby(bibleOHCO[:3]).text], columns=[('test', 'book', 'chap'), 'text'])
ChapsDf[['test','book','chap']] = pd.DataFrame(list(ChapsDf[('test', 'book', 'chap')]), index=ChapsDf.index, columns=bibleOHCO[:3])
del ChapsDf[('test', 'book', 'chap')]
ChapsDf = ChapsDf.replace({"test": testsDict, "book": booksDict}).sort_values(by=bibleOHCO[:3], ascending=[True, True, True])
ChapsDf = ChapsDf.reset_index().drop(['index'], axis=1).set_index(np.arange(1,len(ChapsDf)+1))
ChapsDf.index.name = 'c_id'
ChapsDf = ChapsDf.replace({"test":dict(enumerate(bibliiaDf.test.unique())), "book":dict(enumerate(bibliiaDf.book.unique()))})
#ChapsDf = ChapsDf.reset_index().set_index(bibleOHCO[:3])
#ChapsDf

bibliiaDf = pd.merge(bibliiaDf, ChapsDf.reset_index()[['book', 'chap', 'c_id']], on=['book', 'chap'], how='inner')
bibliiaDf['v_id'] = bibliiaDf.index.to_series().apply(lambda x: x+1)
bibliiaDf = bibliiaDf.set_index('v_id')[['t_id', 'b_id', 'c_id', 'text', 'test', 'book', 'chap']]
bibliiaDf

bibliiaDf.loc[(bibliiaDf.test == 'O') & (bibliiaDf.book == 'Gen') & (bibliiaDf.chap == 25)]

bibliiaDf.to_json(bibleIdJSON, orient='index')

### Make XML

bibliiaDf = pd.read_json(bibleIdJSON, orient='index')

root = etree.Element("bible")
print(root.tag)
t = b = c = v= 1
TestList = [x for x in bibliiaDf.test.unique()]
for test in range(len(TestList)): 
    root.append(etree.Element("t", n=str(t), name=TestList[test]))
    BookList = list(bibliiaDf.loc[bibliiaDf.test == TestList[test]].book.unique())
    for book in range(len(BookList)): 
        root[test].append(etree.Element("b", n=str(b), name=BookList[book]))
        ChapList = list(bibliiaDf.loc[bibliiaDf.book == BookList[book]].chap.unique())
        for chap in range(len(ChapList)): 
            root[test][book].append(etree.Element("c", n=str(c), name=str(chap+1)))
            VerseList = list(bibliiaDf.loc[(bibliiaDf.test == TestList[test]) & (bibliiaDf.book == BookList[book]) & (bibliiaDf.chap == (chap+1))].index)
            for verse in range(len(VerseList)): 
                root[test][book][chap].append(etree.Element("v", n=str(v), name=str(verse+1)))
                root[test][book][chap][verse].text = bibliiaDf.loc[v].text
                v+=1
            c+=1
        b+=1
    t+=1
#print(etree.tostring(root, pretty_print=True, xml_declaration=True))
etree.ElementTree(root).write(bibleXML, pretty_print=True, xml_declaration=True, encoding='windows-1251')

## Token DFs

%%time
ChapsTokenDf = nat_parse(ChapsDf)

%%time
VerseTokenDf = nat_parse(BibTextDf)

In [153]:
TokenDf = pd.read_pickle('./proc/BibleVerseTokenDf.pkl')
TokenDf.set_index(['p_id', 'token_id'])

               start stop      text head_id        rel    pos      lemma  \
p_id  token_id
1     1_1          0    1         В     1_2       case    ADP          в
      1_2          2    8    начале     1_3        obl   NOUN     начало
      1_3          9   17  сотворил     1_0       root   VERB  сотворить
      1_4         18   21       Бог     1_3      nsubj  PROPN        бог
      1_5         22   26      небо     1_3        obj   NOUN       небо
...              ...  ...       ...     ...        ...    ...        ...
37110 1_5         32   38    Христа     1_4  flat:name  PROPN    христос
      1_6         39   41        со     1_8       case    ADP          с
      1_7         42   47     всеми     1_8        det    DET       весь
      1_8         48   52      вами     1_4       nmod   PRON         вы
      2_1         54   59     Аминь     2_0       root  PROPN      аминь

                anim aspect  case degree gender  mood number person tense  \
p_id  token_id
1     1_1       None   None  None   None   None  None   None   None  None
      1_2       Inan   None   Loc   None   Neut  None   Sing   None  None
      1_3       None   Perf  None   None   Masc   Ind   Sing   None  Past
      1_4       Anim   None   Nom   None   Masc  None   Sing   None  None
      1_5       Inan   None   Acc   None   Neut  None   Sing   None  None
...              ...    ...   ...    ...    ...   ...    ...    ...   ...
37110 1_5       Anim   None   Gen   None   Masc  None   Sing   None  None
      1_6       None   None  None   None   None  None   None   None  None
      1_7       None   None   Ins   None   None  None   Plur   None  None
      1_8       None   None   Ins   None   None  None   Plur      2  None
      2_1       Inan   None   Gen   None    Fem  None   Sing   None  None

               verb_form voice
p_id  token_id
1     1_1           None  None
      1_2           None  None
      1_3            Fin   Act
      1_4           None  None
      1_5           None  None
...                  ...   ...
37110 1_5           None  None
      1_6           None  None
      1_7           None  None
      1_8           None  None
      2_1           None  None

[676266 rows x 18 columns]

In [167]:
bibliiaDf = pd.read_json(bibleJSON, orient='index')
bibliiaDf

      test book  chap verse                                               text
1        O  Gen     1     1                В начале сотворил Бог небо и землю.
2        O  Gen     1     2  Земля же была безвидна и пуста, и тьма над без...
3        O  Gen     1     3          И сказал Бог: да будет свет. И стал свет.
4        O  Gen     1     4  И увидел Бог свет, что он хорош, и отделил Бог...
5        O  Gen     1     5  И назвал Бог свет днем, а тьму ночью. И был ве...
...    ...  ...   ...   ...                                                ...
37106    N  Rev    22    17  И Дух и невеста говорят: прииди! И слышавший д...
37107    N  Rev    22    18  И я также свидетельствую всякому слышащему сло...
37108    N  Rev    22    19  и если кто отнимет что от слов книги пророчест...
37109    N  Rev    22    20  Свидетельствующий сие говорит: ей, гряду скоро...
37110    N  Rev    22    21  Благодать Господа нашего Иисуса Христа со всем...

[37110 rows x 5 columns]

In [160]:
GetRankDf(TokenDf, 'lemma')#.plot(x='rank')

                    n   rank
lemma
и               57470      1
он              19656      2
в               18350      3
они             12325      4
не              11883      5
...               ...    ...
выспросить          1  20980
рассудительные      1  20981
воздаст             1  20982
скоротечный         1  20983
закупать            1  20984

[20984 rows x 2 columns]

In [161]:
GetRankDf(TokenDf, 'pos')

            n  rank
pos
NOUN   147028     1
VERB   108063     2
PRON    78480     3
ADP     70754     4
CCONJ   63398     5
PROPN   55336     6
ADJ     35327     7
DET     34131     8
PART    23999     9
ADV     21304    10
SCONJ   21055    11
AUX     10141    12
NUM      7059    13
INTJ       94    14
X          87    15
SYM        10    16

In [156]:
GetRankDf(TokenDf, 'rel')

                n  rank
rel
case        71010     1
nsubj       63995     2
cc          63839     3
conj        61390     4
obl         56899     5
obj         53924     6
nmod        44289     7
advmod      42893     8
root        42520     9
det         26656    10
amod        25623    11
iobj        17843    12
mark        15675    13
parataxis   13745    14
advcl       10831    15
acl         10467    16
appos        9714    17
xcomp        7413    18
acl:relcl    7225    19
cop          4433    20
nummod:gov   4288    21
ccomp        3899    22
flat:name    3749    23
aux          3323    24
fixed        2970    25
nsubj:pass   2428    26
nummod       2359    27
aux:pass     1684    28
csubj         597    29
obl:agent     230    30
orphan        216    31
discourse      46    32
expl           41    33
csubj:pass     29    34
compound       13    35
punct           9    36
flat            1    37

In [157]:
GetRankDf(TokenDf, 'anim')

           n  rank
anim
Inan  145289     1
Anim   83455     2

In [158]:
GetRankDf(TokenDf, 'person')

            n  rank
person
3       57935     1
2       22086     2
1       19806     3

In [159]:
VocabDf = TokenDf.loc[~TokenDf[tokenCols[9:]].isna().all(1)].lemma.value_counts().to_frame().reset_index()#.reset_index()
VocabDf.columns = ['lemma', 'count']
VocabDf.index = VocabDf.index.map(lambda x: x + 1).rename('rank')
VocabDf.iloc[:25]#.plot(x='rank')

         lemma  count
rank
1           он  19656
2          они  12325
3         быть  10839
4            я  10762
5           ты   7851
6      господь   7101
7         весь   6982
8         свой   6038
9         твой   5958
10     сказать   5846
11         сын   5434
12     который   5421
13         мой   5141
14          вы   4681
15         бог   4425
16         тот   4348
17    говорить   3734
18         она   3407
19       земля   3303
20       народ   3258
21        царь   3238
22          мы   3143
23        день   2786
24     человек   2350
25         это   2192

## Bible Phrase Dictionary

In [66]:
with open(bibFrazyTXT) as bibleFrazy: 
    bibleFrazyLines = bibleFrazy.readlines()

In [78]:
BibleFrazyDf = pd.DataFrame(bibleFrazyLines).rename(columns={0:'fraza'})
BibleFrazyDf.loc[:,'fraza'] = BibleFrazyDf.loc[:,'fraza'].apply(lambda x: x.strip().strip('\n').translate(str.maketrans('', '', string.punctuation)))
BibleFrazyDf = BibleFrazyDf.loc[BibleFrazyDf.fraza != '']

In [91]:
frazyList = BibleFrazyDf.loc[30189:].fraza.to_list()
FrazyDf = pd.DataFrame(data=frazyList).rename(columns={0:'fraza'})
FrazyDf.index.name = 'f_id'

In [ ]:
FrazyDf = nat_parse(FrazyDf, textCol='fraza')

In [85]:
caseWords = ['что', 'чего', 'чему', 'чём', 'чем',\
    'кто', 'кого', 'кем', 'ком', 'кому']

In [112]:
FrazyDf['caseword'] = [True if x in caseWords else False for x in FrazyDf['lemma']]

In [173]:
FrazyDf.set_index('p_id').loc[0]#.groupby('p_id', axis=1)

,start,stop,text,token_id,head_id,rel,pos,lemma,anim,aspect,case,degree,gender,mood,number,person,tense,verb_form,voice,caseword
p_id,,,,,,,,,,,,,,,,,,,,
0,0,5,Агнец,1_1,1_3,nsubj,PROPN,агнец,Anim,None,Nom,None,Masc,None,Sing,None,None,None,None,False
0,6,11,Божий,1_2,1_1,det,ADJ,божий,None,None,Nom,Pos,Masc,None,Sing,None,None,None,None,False
0,12,22,непорочный,1_3,1_0,root,VERB,непорочный,None,Perf,None,None,Masc,Ind,Sing,None,Past,Fin,Mid,False
0,23,26,как,1_4,1_10,mark,SCONJ,как,None,None,None,None,None,None,None,None,None,None,None,False
0,27,32,будто,1_5,1_6,fixed,PART,будто,None,None,None,None,None,None,None,None,None,None,None,False
0,33,36,как,1_6,1_10,mark,SCONJ,как,None,None,None,None,None,None,None,None,None,None,None,False
0,37,42,будто,1_7,1_6,fixed,PART,будто,None,None,None,None,None,None,None,None,None,None,None,False
0,43,49,словно,1_8,1_6,fixed,PART,словно,None,None,None,None,None,None,None,None,None,None,None,False
0,50,55,точно,1_9,1_10,advmod,ADV,точно,None,None,None,Pos,None,None,None,None,None,None,None,False
0,56,61,агнец,1_10,1_10,obj,VERB,агнец,None,Perf,None,None,Masc,Ind,Sing,None,Past,Fin,Act,False
0,62,67,Божий,1_11,1_10,obj,ADJ,божий,Inan,None,Acc,Pos,Masc,None,Sing,None,None,None,None,False

In [126]:
pos_lists = []
for x in range(0,(FrazyDf.p_id.max()+1)):
    pos_lists.append(FrazyDf.loc[FrazyDf.p_id == x].text.to_list())

In [128]:
FrazyAbbrsDf = BibleFrazyDf.iloc[:105].fraza.str.split(' – ', expand=True).rename(columns={0:"abbr", 1:"fraza"})
FrazyAbbrsDf.loc[:,'abbr'] = FrazyAbbrsDf.loc[:,'abbr'].apply(lambda x: x.strip())
FrazyAbbrsDf.loc[:,'fraza'] = FrazyAbbrsDf.loc[:,'fraza'].apply(lambda x: x.strip())
FrazyAbbrsDict = FrazyAbbrsDf.set_index('abbr').to_dict().get('fraza')

# function for applying all of natasha's morphological tagger components to tokens to make a TokenDf
def nat_parse(textDf=BibTextDf, textCol='text', columns=tokenCols): 
    # initialize token dataframe
    tokenDf = pd.DataFrame(columns=columns)
    # gather row list
    for an_id in textDf.index: 
        pDict = []
        doc = Doc(textDf.loc[an_id][textCol])
        doc.segment(segmenter)
        doc.tag_morph(morph_tagger)
        for token in doc.tokens: 
            token.lemmatize(morph_vocab)
        doc.parse_syntax(syntax_parser)
        doc.tag_ner(ner_tagger)
        #for sent in enumerate(doc.sents): 
        #sent_num = sent[0]
        #sent_text = sent[1]
        for token in [x for x in doc.tokens if x.pos != 'PUNCT']: 
            #token_num = token[0]
            #token_text = token[1]
            start = token.start
            stop = token.stop
            text = token.text
            token_id = token.id
            head_id = token.head_id
            rel = token.rel
            pos = token.pos
            lemma = token.lemma
            # Animacy, Aspect, Case, Degree, Gender, Mood, Number, Person, Tense, VerbForm, Voice
            try: 
                anim = token.feats['Animacy']
            except: 
                anim = None
            try: 
                aspect = token.feats['Aspect']
            except: 
                aspect = None
            try: 
                case = token.feats['Case']
            except: 
                case = None
            try: 
                degree = token.feats['Degree']
            except: 
                degree = None
            try: 
                gender = token.feats['Gender']
            except: 
                gender = None
            try: 
                mood = token.feats['Mood']
            except: 
                mood = None
            try: 
                number = token.feats['Number']
            except: 
                number = None
            try: 
                person = token.feats['Person']
            except: 
                person = None
            try: 
                tense = token.feats['Tense']
            except: 
                tense = None
            try: 
                verb_form = token.feats['VerbForm']
            except: 
                verb_form = None
            try: 
                voice = token.feats['Voice']
            except: 
                voice = None
            #print(token)
            tokenDict = {
                'p_id': an_id,
                #'token_num': token_num, 
                'start': start, 
                'stop': stop, 
                'text': text, 
                'token_id': token_id, 
                'head_id': head_id, 
                'rel': rel, 
                'pos': pos, 
                'lemma': lemma, 
                'anim': anim, 
                'aspect': aspect, 
                'case': case, 
                'degree': degree, 
                'gender': gender, 
                'mood': mood, 
                'number': number, 
                'person': person, 
                'tense': tense, 
                'verb_form': verb_form, 
                'voice': voice
            }
            pDict.append(tokenDict)
            #print(sent)
            pDf = pd.DataFrame(pDict, columns=columns)
        tokenDf = pd.concat([tokenDf, pDf])
    return tokenDf

%%time
with requests.get("https://ru.wikipedia.org/wiki/Книги_Библии") as r: 
    if r.status_code == 200: 
        s = BeautifulSoup(r.content, 'html.parser')
    else: 
        print(r.status_code)

n=0
booksDict = {}

for book_row in s.find_all('table')[1].find_all('tr')[2:]: 
    try: 
        bookDict = {
            "rus_name": book_row.find('td').text,
            #"lat_name": book_row.find_all('td')[1].text,
            "eng_name": book_row.find_all('td')[2].text,
            #"gre_name": book_row.find_all('td')[3].text,
            "rus_abbr": re.search(r'\w+', book_row.find_all('td')[4].text).group(),
            "eng_abbr": book_row.find_all('td')[5].text
        }
        booksDict.update({n: bookDict})
        n+=1
    except: 
        pass

for book_row in s.find_all('table')[2].find_all('tr')[2:]: 
    if book_row.find('td').find('a').text != 'Четвёртая книга Маккавейская':
        bookDict = {
            "rus_name": book_row.find('td').find('a').text,
            #"lat_name": book_row.find_all('td')[3].text,
            "eng_name": book_row.find_all('td')[4].text.replace('\n','')
        }
        booksDict.update({n: bookDict})
        n+=1
        
for book_row in s.find_all('table')[3].find_all('tr')[2:]: 
    bookDict = {
        "rus_name": book_row.find('td').find('a').text,
        #"lat_name": book_row.find_all('td')[3].text,
        "eng_name": book_row.find_all('td')[4].text.replace('\n',''),
        #print(f"rus_abbr: {book_row.find_all('td')[5].text}"),
        #print(f"eng_abbr: {book_row.find_all('td')[6].text}"),
        "rus_abbr": re.search(r'^\d?\s?\w+', book_row.find_all('td')[5].text).group(),
        "eng_abbr": re.search(r'^\d?\s?\w+', book_row.find_all('td')[6].text).group()
    }
    booksDict.update({n: bookDict})
    n+=1
print(booksDict)