# Text Q&A

## Lexical Questions

### Most Common Words in...

In [8]:
motherRankDf = GetRankDf(motherTokenDf)
motherRankDf

                   n   rank
lemma
она             1997      1
он              1813      2
я               1120      3
мать             899      4
весь             807      5
...              ...    ...
прибавиться        1  11873
имущество          1  11874
еевнимательный     1  11875
пестрядинный       1  11876
накопите           1  11877

[11877 rows x 2 columns]

In [7]:
motherRankDf.loc[motherRankDf.n==1]

                n   rank
lemma
оборот          1   4091
деловой         1   4092
разжать         1   4093
обнимаюсь       1   4094
лицоруками      1   4095
...            ..    ...
прибавиться     1  11873
имущество       1  11874
еевнимательный  1  11875
пестрядинный    1  11876
накопите        1  11877

[7787 rows x 2 columns]

### Most Common X

### Most Common X

## Vectorization Questions

### Most Common X

### Most Common X

### Most Common X